---
layout: empty
programming: [[, red],[, yellow],[, orange],[, pink],[, purple]]
deploy: [[, red],[󰊤, blue],[, blue],[, purple]]
---
<h1><span class="pink"><b>~</b> </span><span class="purple">cat guide_me.md</span></h1>
<h5 class="mb-5 light-fade"><em># previews the file</em></h4>
<h2 class="orange">Guide me</h2>
<div class="light mb-5">
  <%= collections.projects.resources[2].data.description %>
</div>
<div class="line-break"></div>
<div class="programming-icons">
  <p class="mt-5 mb-1 fs-5">Built with:</p>
  <div>
    <% page.data.programming.each do |info| %>
      <span class="icon <%=info[1] %>">
        <%= info[0] %>
      </span>
    <% end %>
  </div>
  <div>
    <% page.data.deploy.each do |info| %>
      <span class="icon <%=info[1] %>">
        <%= info[0] %>
      </span>
    <% end %>
  </div>
</div>
