---
layout: empty
programming: [[, red],[, yellow],[, orange],[, pink],[, purple]]
deploy: [[, red],[󰊤, blue],[, blue],[, purple]]
---
<p class="fs-3 fw-600"><span class="purple"><b>~</b> </span><span class="orange">cat <span class="light">go_local.md</span></span></p>
<h5 class="comment mb-5"><em># pré-visualiza o arquivo</em></h4>
<h2 class="mt-3 orange">Go local</h2>
<div class="light mb-5 sans">
  <%= collections.projects.resources[1].data.description %>
</div>
<div class="line-break"></div>
<div class="programming-icons">
  <p class="mt-5 mb-1 fs-5">Feito com:</p>
  <div>
    <% page.data.programming.each do |info| %>
      <span class="icon <%= info[1] %>">
        <%= info[0] %>
      </span>
    <% end %>
  </div>
  <div>
    <% page.data.deploy.each do |info| %>
      <span class="icon <%= info[1] %>">
        <%= info[0] %>
      </span>
    <% end %>
  </div>
</div>
