---
layout: default
title: Go local
file_name: go_local
language: en
image: /images/go_local.svg
project_link: http://www.golocal.lol
github_link: https://github.com/pedro-hga/go-local
description: "Go Local is a platform that helps users discover new places by providing personalized recommendations from local people."
about: "The goal of this project was the full-stack development of a complete application, with each team member responsible for developing some features from the back-end to the front-end. In addition to this, the majority of my contribution was related to the front-end development of the application."
programming: [[, red],[, yellow],[, orange],[, pink],[, red],[󰊤, blue],[, blue],[, purple]]
---
<div id="panes-project" class="panes row h-100 fs-18" data-controller="display file-name">
  <div class="back-link ">
    <a href="<%= relative_url '/en/projects' %>" class="blue link text-decoration-none" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
      Back to projects
    </a>
  </div>
  <div class="pane-left col-7 d-flex flex-column h-75">
    <%= render 'project_page.en' %>
    <div class="line-break mt-5"></div>
    <div class="programming-icons">
      <h2 class="project-info-title orange mb-4">About the project</h2>
      <div class="light">
        <p>Go local is a conceptual project to create a platform where local people can share events and places in order to build a strengthened and sustainable community and share their culture with others.</p>
        <p><%= page.data.about %></p>
        <p>The project was created for the <a href="https://www.lewagon.com/web-development-course"
        target="_blank" class="text-decoration-none
        blue link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">Le Wagon's Web development course</a>.
          This was a group endeavour that spanned for two weeks.</p>
      </div>
      <p class="mt-5 mb-1 fs-5">Built with:</p>
      <div>
        <% page.data.programming.each do |info| %>
          <span class="icon <%= info[1] %>">
            <%= info[0] %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="pane-right col-5 d-flex row h-100">
    <div class="project-info-contributions">
      <h2 class="project-info-title fs-1 mt-5 orange mb-4">Challenges</h2>
      <div class="light fs-18 list-unstyled mt-1">
        <p>The major challenge of this project was acquiring a substantial amount of specific information necessary for testing various aspects, such as the display of cards, contents, and maps. This translated to the creation of a massive seed file. Acquiring this data was crucial as it formed the foundation upon which the rest of the project relied.</p>
        <p>Since the goal of this project was to create a sort of social platform for sharing local guidance within cities, it was particularly interesting to encounter this difficulty early on. It offered us a new perspective, highlighting the challenge of starting a project that essentially relies on user data when, at that point, we had none.</p>
        <p>Throughout development, we encountered several design and product challenges that required constant reshaping due to constraints in time and resources. This compelled us to prioritize features effectively and deepen our understanding of essential concepts like MVP and efficient project management, aiding us in overcoming these hurdles.</p>
        <p>A crucial strategy for managing such a complex application was to map out potential user journeys (which you can see <a href="https://www.figma.com/file/oU12jQDaSnXDGROQxXxVgi/Go-local?type=design&node-id=6150%3A2249&mode=design&t=93CpMQbpIVFOoxRS-1" class="text-decoration-none blue">here</a>), a lesson learned from our previous project, <a href="<%= relative_url '/en/projects/guide_me' %>" class="blue link text-decoration-none">guide-me</a>. This approach allowed us to visualize everything we <em>intended</em> and everything we <em>could</em> do within our restraints, ensuring we didn't settle for a 'good enough' approach and move quickly to the next feature.</p>
      </div>
    </div>
  </div>
</div>
