---
layout: default
title: Guide me
file_name: guide_me
image: images/guide_me.svg
project_link: https://guide-me-app-c2d673a36c32.herokuapp.com/
github_link: https://github.com/pedro-hga/guide-me
description: "Uma plataforma que conecta profissionais aspirantes a mentores experientes em diversas indústrias."
programming: [[, red],[, yellow],[, orange],[, pink],[, red],[󰊤, blue],[, blue],[, purple]]
contributions: [
["Introdução","O objetivo deste trabalho era o desenvolvimento full-stack de uma aplicação completa, com cada integrante responsável por desenvolver desde o back-end ao front-end algumas features. Somando a isso, a maior parte da minha colaboração foi relacionada ao desenvolvimento do front-end da aplicação."],
["Design", "Concepção e desenvolvimento da identidade visual da marca, design da interface e componentes."],
["Colaboração","Gerenciamento das features e alocação de trabalho no grupo"]
]
---
<div id="panes-project" class="panes row h-100 fs-18" data-controller="display file-name">
  <div class="pane-left col-7 d-flex flex-column h-75">
    <%= render 'project_page' %>
    <div class="line-break mt-5 mr-5"></div>
    <div class="programming-icons">
      <h2 class="project-info-title orange mb-4">About the project</h2>
      <div class="light">
        <p>Guide me é um projeto conceitual para criar uma rede de mentores e mentorados, seja para compartilhar conhecimento ou encontrar algum tipo de direção em suas carreiras.</p>
        <p></p>
        <p>O projeto foi criado para o curso de<a href="https://www.lewagon.com/web-development-course" class="text-decoration-none blue link"> Desenvolvimento Web da Le Wagon</a>.
          Esta foi uma tarefa em grupo realizada ao longo de duas semanas .</p>
      </div>
      <p class="mt-5 mb-1 fs-5">Feito com:</p>
      <div>
        <% page.data.programming.each do |info| %>
          <span class="icon <%=info[1] %>">
            <%= info[0] %>
          </span>
        <% end %>
      </div>
    </div>
  </div>
  <div class="pane-right col-5 d-flex row h-100">
    <div class="project-info-contributions">
      <h2 class="project-info-title fs-1 mt-5 orange mb-4">Contribuições</h2>
      <div>
        <% page.data.contributions.each do |info| %>
          <span class="icon <%=info[1] %>">
            <h3 class="fs-4 orange list-unstyled mt-4 mb-2">
              <%= info[0] %>
            </h3>
            <p class="light fs-18 list-unstyled mt-1">
              <%= info[1] %>
            </p>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</div>
