---
layout: default
locale: multi
locales:
- pt-BR
- en
---
<div id="panes" class="panes row h-100">
  <div class="pane-left col-7 d-flex flex-column h-100">
    <span class="pane-command ">
      <p class="fs-2 fw-600"><span class="purple"><b>~</b> </span><span class="orange">whoami</span></p>
      <% if site.locale == :'pt-BR' %>
        <p class="grey comment"># retorna o usuário</p>
      <% elsif site.locale == :en %>
        <p class="grey comment"># returns the user</p>
      <% end %>
    </span>
    <div class="pane-return">
      <% if site.locale == :'pt-BR' %>
        <p class="fs-2 fw-600">
          Oi! Sou <span class="orange fw-800">Pedro, desenvolvedor web full-stack</span> localizado em <span class="green">São Paulo</span>.
          Eu gosto de <span class="red">colaborar</span> com pessoas para criar <a href="<%= relative_url '/projects' %>" class="text-decoration-none red italic-text link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
            projetos incríveis</a>.
        </p>
      <% elsif site.locale == :en %>
        <p class="fs-2 fw-600">
          Hi! I'm <span class="orange fw-800">Pedro, full-stack web developer</span> based in <span class="green">São Paulo, Brazil</span>.
          I like <span class="red">to collaborate</span> with people to create <a href="<%= relative_url '/projects' %>" class="text-decoration-none red italic-text link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
            amazing projects</a>.
        </p>
        <div class="d-flex">
        </div>
      <% end %>
    </div>
  </div>
  <div class="pane-right col-5 d-flex flex-column h-100">
    <div class="pane-command">
      <p class="fs-2 fw-600"><span class="purple"><b>~</b> </span><span class="orange">ls</span></p>
      <% if site.locale == :'pt-BR' %>
        <p class="grey comment"># retorna uma lista com os conteúdos da pasta</p>
      <% elsif site.locale == :en %>
        <p class="grey comment"># returns a list with directory contents</p>
      <% end %>
    </div>
    <div class="pane-return">
      <ul class="list-unstyled">
        <% if site.locale == :'pt-BR' %>
          <li class="fs-2"><a href="<%= relative_url '/projects' %>" class="green link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
              projetos/
            </a></li>
          <li class="fs-2"><a href="<%= relative_url '/contact_me' %>" class="green link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
              contato.js
            </a></li>
          <li class="fs-2"><a href="<%= relative_url '/about' %>" class="green link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
              sobre-mim.md
            </a></li>
        <% elsif site.locale == :en %>
          <li class="fs-2"><a href="<%= relative_url '/en/projects' %>" class="green link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
              projects/
            </a></li>
          <li class="fs-2"><a href="<%= relative_url '/en/contact_me' %>" class="green link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
              contact_me.js
            </a></li>
          <li class="fs-2"><a href="<%= relative_url '/en/about' %>" class="green link" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
              about-me.md
            </a></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
