---
layout: default
---
<div class="panes row h-100">
  <div class="pane-left col-7 d-flex flex-column h-75">
    <span class="pane-command ">
      <h1><span class="red">> </span><span class="purple">whoami</span></h1>
      <h5 class="light-fade"><em># returns the user</em></h4>
    </span>
    <div class="pane-return">
      <h2>
        I’m <span class="orange">Pedro, Full-stack web developer</span> based in <span class="purple">Brazil</span>.
        I enjoy <span class="red">collaborating</span> with people to create <a href="<%= relative_url '/projects' %>" class="text-decoration-none red" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
          great projects</a>.
      </h2>
    </div>
  </div>
  <div class="pane-right col-5 d-flex flex-column h-75">
    <div class="pane-command">
      <h1><span class="red">> </span><span class="purple">ls</span></h1>
      <h5 class="light-fade "><em># returns a list of all contents on home folder</em></h3>
    </div>
    <div class="pane-return green">
      <ul class="list-unstyled">
        <li><a href="<%= relative_url '/about' %>" class="text-decoration-none blue" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
            <h1>README.md</h1>
          </a></li>
        <li><a href="<%= relative_url '/projects' %>" class="text-decoration-none blue" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
            <h1>projects/</h1>
          </a></li>
        <li><a href="<%= relative_url '/contact_me' %>" class="text-decoration-none blue" data-action="mouseover->move-element#getHref mouseout->move-element#resetHref">
            <h1>contact_me.js</h1>
          </a></li>
      </ul>
    </div>
  </div>
</div>
<%
  content = File.read(File.join("src", "about.md"))
  no_front_matter = content.sub(/\A(---\s*\n.*?\n?)^---\s*\n/m, '')
%>
<%= markdownify(no_front_matter) %>
